* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------BODY------------- */
body{
    font-family: Courgette;
    padding: 0;
    margin: 0;
    background: #2c2a3c;
}
.container{
    width: 900px;
    margin: 0 auto;
}
/* -----------HEADER------------- */
.logo{
    width: 35%;
}
.list-menu{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-menu li{
    display: inline-block;
    padding-left: 20px;
}
.list-menu li a{
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    color: #fff;
}
header{
    background: #1f122c;
}
/* -----------HERO------------- */
.clearfix{
    background-image: url(../image/header-image.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: table;
    
}
.spring{
    color: #ffe4a8;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.box{
    width: 550px;
    margin: auto;
    padding: 20px;
    background: #1f122c;
}
.spring h1{
    font-size: 70px;
    margin:18px 0;
}
p{
    color: #fff;
    font-size: 12px;
    padding: 3px;
}

/* -----------SECTION------------ */

.imagen1{
    background-image: url(../image/image7.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}
.imagen2{
    background-image: url(../image/image3.jpg);
    width: 100%;
    height: 200px;
     background-size: cover;
}
.imagen3{
    background-image: url(../image/image2.jpg);
    width: 100%;
    height: 200px;
     background-size: cover;
}

.fragance{
    text-align: center;
    background: #1f122c;
    width: 285px;
}
h4{
    color: #ffe4a8;
    margin: 9px;
    text-align: center;
}
.col-1, .col-2, .col-3 {
    width: 285px;
    height: 262px;
    display: inline-block;
    margin-right: 11px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* -----------ASIDE------------ */
.info{
    text-align: left;
    background: #1f122c;
    width: 520px;
}

.imagen{
    background-image: url(../image/image4.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
}
.col1{
    background: #0f0817;
    width: 60%px;
    float: left;
    
}


.col2{
    width: 30%;
    float: right;
    
}
.col2 input{
    margin: 7px;
    background: #3c3c3c;
    border-radius: 5px;
    width: 90%;
}
.col2 .caja{
    margin-top: 25px;
    margin-bottom: 20px;
     background: #0f0817;
    border-radius: 10px;
    box-sizing: border-box;
}
.col2 .about{
    background: #0f0817;
}
.amanda{
    background-image: url(../image/kew_gardens_3_500x500.jpg);
    width: 100%;
    height: 250px;
    background-size:cover; 
}
.about h3{
    color:#ffe4a8;
    text-align: center;
}
.icono{
    border-radius: 100px;
    background: #b5b3b3;
    padding: 5px;
    width: 20px;
}

/*------footer{
    background:#0f0817; 
}
footer p{
    color: #d5d7d8;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0;
}-------*/
/* Responsive */

@media screen and (max-width : 920px) {
       
}

@media screen and (max-width: 700px) {
    .list-menu {
        display: none;
    }
    .container {
        width: 95%;
    }
    .clearfix .box {
        width: 92%;
    }
    .clearfix .box p, .clearfix h1 {
        margin: 0 30px;
    }
    header .icon-menu {
        display: inline-block;
        float: right;
    }
    .col-1, .col-2, .col-3, .col1, .col2 {
        float: none;
        width: 100%;
        padding: 0;
    }
    .right {
        display: none;
    }
   
}
